<div class="card text-center">
  <div class="card-header font-italic font-weight-bold text-uppercase">
    Movie Details
  </div>
  <div class="card-body">
    <img src="{{movieDetails?.Poster}}" class="img-size" alt="...">
    <h5 class="card-title py-3 font-weight-bold">{{movieDetails?.Title}}</h5>
    <p class="card-text font-italic">{{movieDetails?.Plot}}</p>
    <a data-toggle="modal" data-target="#modal-video" class="btn btn-primary text-white btn-teal">Watch Trailer</a>
  </div>
  <div class="card-footer text-muted">
    Release Date : {{movieDetails?.Released}}
  </div>
</div>



<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="font-weight-bold font-italic">Movie Trailer</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/nEkmI7e36PE"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
