<div class="container-fluid">
  <div class="row">
    <div class="col text-center h5 text-uppercase">Movies</div>
  </div>
  <div class="row height-95vh mr-0 pr-0 pl-0 ml-0" (scroll)="onScroll($event)">
    <div class="col-4" *ngFor="let repeat of movies">
      <div class="card" style="width: 100%;">
        <img src="{{repeat.Poster}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{repeat.Title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="movies/{{repeat.imdbID}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>